<app-header></app-header>
<app-back-btn></app-back-btn>

<main>
  <h2>Which country's flag is this?</h2>
  @if (round < 11) {
  <span class="info-rounds">{{ round }} / 10 </span>

  <div class="flag-container">
    <img [src]="ranCountry.flag" alt="Country Flag" class="flag-img" />

    <div class="action-container">
      <div>
        <input
          type="text"
          [(ngModel)]="userInput"
          (input)="onInputChange()"
          (keyup.enter)="checkAnswer()"
          (keyup.escape)="skipFlag()"
          placeholder="Enter country name..."
          class="country-input"
          [disabled]="showFeedback"
          [ngClass]="{ 'correct-input': isCorrect }"
        />

        <ul *ngIf="filteredCountries.length > 0" class="suggestions-list">
          <li
            *ngFor="let country of filteredCountries"
            (click)="selectCountry(country)"
            class="suggestion-item"
          >
            {{ country.name }}
          </li>
        </ul>
      </div>

      <div class="button-group">
        @if (showFeedback !== true) {
        <button
          (click)="skipFlag()"
          class="btn skip-btn"
          [disabled]="showFeedback"
          [ngClass]="{ 'disabled-btn': showFeedback }"
        ></button>
        <button
          (click)="checkAnswer()"
          class="btn check-btn"
          [disabled]="showFeedback"
          [ngClass]="{ 'disabled-btn': showFeedback }"
        ></button>
        } @else if (showFeedback === true) {

        <button (click)="nextFlag()" class="btn next-btn"></button>
        }
      </div>
      <p
        *ngIf="showFeedback"
        [ngClass]="{ correct: isCorrect, wrong: !isCorrect }"
      >
        {{ feedbackMessage }}
      </p>
    </div>
  </div>
  } @else {
  <div class="result-container">
    <h1>Your score</h1>
    <span>You knew {{ correctAnswers }} flags out of 10!</span>
    @if(correctAnswers > 8) {
    <span>Well done!</span>
    } @else if (correctAnswers > 4 && correctAnswers > 9) {
    <span>Not bad!</span>
    } @else {
    <span>Next time it will be better!</span>
    }
    <button (click)="startNewGame()" class="btn">Try agin</button>
  </div>
  }
</main>

<!-- <button *ngIf="isCorrect" (click)="showMoreInfo()" class="btn info-btn">
          More Info
        </button> -->
