.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px;

    h2 {
        margin: 0;
    }

    .action-con {
        display: flex;
        align-items: center;
        gap: 40px;

        a {
            background-image: url("./../../../assets/icons/casino.svg");
            background-repeat: no-repeat;
            background-position: 0 50%;
            color: black;
            padding: 2px 4px 2px 30px;
            transition: all 125ms ease-in-out;
            text-decoration: none;

            &:hover {
                scale: 1.05;
            }
        }
    }
}


.dark-mode-toggle {
    background-image: url("./../../../assets/icons/dark_mood.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-color: white;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 2px 4px 2px 30px;
    transition: all 125ms ease-in-out;

    &:hover {
        scale: 1.025;
    }
}

// .dark-mode-toggle .icon {
//     font-size: 1.5rem;
// }

.dark-mode-toggle:hover {
    opacity: 0.8;
}