.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px;

    h2 {
        margin: 0;
    }
}


.dark-mode-toggle {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dark-mode-toggle .icon {
    font-size: 1.5rem;
}

.dark-mode-toggle:hover {
    opacity: 0.8;
}