<app-header></app-header>
<div class="nav-search">
  <div class="search-field-con btn-shadow">
    <input
      [(ngModel)]="searchQuery"
      (input)="onSearch()"
      type="text"
      name=""
      id=""
      class="search-field"
      placeholder="Search for a country..."
    />
  </div>
  <div class="dropdown">
    <button class="filter-btn btn-shadow" (click)="toggleDropdown()">
      {{ selectedRegion === "All" ? "Filter by Region" : selectedRegion }}
    </button>

    <ul class="dropdown-menu" *ngIf="showDropdown">
      <li *ngFor="let region of regions" (click)="filterByRegion(region)">
        {{ region }}
      </li>
    </ul>
  </div>
</div>
<main>
  @if(data.countries.length !== 0) { @for (country of data.countries; track
  $index) {
  <app-country-card
    [country]="country"
    [routerLink]="['/flag', country.name]"
    [class.dark-mode-elements]="darkMood.isDarkMode"
  ></app-country-card>
  }} @else {
  <span>No countries found.</span>
  }
</main>
