@import './../../styles.scss';


main {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    box-sizing: border-box;
    padding: 0 80px 40px 80px;
    width: 100%;
}

.nav-search {
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
    margin: 82px 0 0 0;

    .search-field-con {

        border-radius: 5px;
        background-color: white;
        padding: 0 0 0 10px;
        
        .search-field {
            border: none;
            border-radius: 0 5px 5px 0;
            color: darkgray;
            padding: 16px 24px;

            &:focus {
                outline: none;
            }
        }
    }
}