<app-header></app-header>
<div class="nav-search">
  <div class="search-field-con btn-shadow">
    <input
      [(ngModel)]="searchQuery"
      (input)="onSearch()"
      type="text"
      name=""
      id=""
      class="search-field"
      placeholder="Search for a country..."
    />
  </div>
  <button class="filter-btn btn-shadow">Filter by Region</button>
</div>
<main>
  @for (country of data.countries; track $index) {
  <app-country-card
    [country]="country"
    [routerLink]="['/flag', country.name]"
  ></app-country-card>
  }
</main>
