main {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    box-sizing: border-box;
    padding: 0 80px 40px 80px;
    width: 100%;
}

.nav-search {
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
    margin: 82px 0 0 0;
}