@import './../../styles.scss';


.country-card {
    display: flex;
    align-items: start;
    // justify-content: space-between;
    gap: 64px;
    padding: 32px 80px;

    img {
        width: 480px;
    }

    .country-info {
        width: 480px;

        .country-info-top-con {
            display: flex;
            justify-content: space-between;

            span {
                color: gray;
            }

            div {
                width: calc(50% - 5px);
            }
        }

        .border-container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 8px;

            button {
                background-color: white;
                border: none;
                border-radius: 3px;
                color: gray;
                height: 24px;
                min-width: 80px;
            }
        }
    }
}